.carousel-item {
  height: 37vh !important;

}

.d-inline-flex {
  display: inline-flex !important;
  justify-content: space-between;
}

body {
  background-image: url(https://th.bing.com/th/id/R.dc0b889eb85b27d6a1af9755d2251a63?rik=ajYTdvA1xAp3eQ&riu=http%3a%2f%2fa.rgbimg.com%2fcache1r2HxE%2fusers%2ff%2ffa%2ffangol%2f600%2fnabAgQA.jpg&ehk=HFc9JVaeEGyfYhI1eFvbu4jHDlY2R7nUMg64sHqyUqw%3d&risl=&pid=ImgRaw&r=0&sres=1&sresct=1);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  height: 10vh;

}

footer {
  display: flex;

  height: 10vh;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.iconos {
  width: 30px;
  margin-right: 5% !important;
  margin-top: 1%;
}

p {
  margin-top: 0;
  margin-bottom: 0% !important;
}

h4 {
  font-size: 64px !important;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.card{
background-color: transparent!important;
border: 0cap!important;
}
.navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
.custom-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 0.5rem;
  max-width: 100%;
}

.custom-card-img {
  max-width: 100%;
  height: auto;
}

.custom-card-body {
  padding: 1rem;
}

.custom-card-title {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}

.custom-card-text {
  font-size: 0.875rem;
  margin: 0;
}

.custom-card-subtitle {
  font-size: 0.875rem;
  margin: 0;
}

.custom-btn {
  display: block;
  width: 100%;
  background-color: #007bff;
  
  border: none;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}

@media only screen and (max-width: 576px) {
  div.col-sm-7 {
    text-align: center;
  }

  .parra {
    text-align: center;
  }
}
@media (min-width: 768px){
.col-md-4 {
    flex: 0 0 auto;
    width: 90.333333%!important;
}
}